
.button-theme {
    background: #2048bb;
}

.button-theme:hover {
    background: #052582;
}

.top-header {
    background-color: #2048bb;
}

#page_scroller {
    background: #2048bb;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid #2048bb;
}

.main-header .dropdown-menu a:hover {
    color: #2048bb;
}

input[type=checkbox]:checked + label:before {
    color: #2048bb;
}

.banner-bg-color{
    background: #052582;
}

.btn-theme{
    background: #2048bb;
    border: solid 1px #2048bb;
}

.btn-theme:hover{
    background: #052582;
    border: solid 1px #052582;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background: #2048bb;
    border: solid 2px #2048bb;
}

.btn-white-sm-outline:hover {
    color: #FFF;
    background: #2048bb;
    border: solid 2px #2048bb !important;
}

.properties-amenities ul li i {
    color: #2048bb
}

.pages-404 .btn {
    background: #2048bb;
}

.pages-404 .btn:hover {
    background: #052582;
}

.pages-404-2 .btn {
    background: #2048bb;
}

.pages-404-2 .btn:hover {
    background: #052582;
}

.properties-condition ul li i {
    color: #2048bb
}

.border-button-theme {
    color: #2048bb;
    border: 2px solid #2048bb;
}

.map-properties-btns .border-button-theme:hover {
    background: #2048bb;
    color: #fff !important;
}

.rightside-navbar li .button {
    color: #2048bb !important;
    border: 2px solid #2048bb;
}

.rightside-navbar li .button:hover {
    background: #2048bb !important;
}

.banner-detail-box .red-box {
    background: #2048bb url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color: #2048bb;
}

.banner-detail-box .white-box .slide-location::after {
    background-color: #2048bb;
}

.search-options-btn, .search-options-btn:hover {
    background: #2048bb;
}

.search-button {
    background: #2048bb;
}

.search-button:hover {
    color: #fff;
    background: #052582;
}

.service-info-2 i {
    color: #2048bb;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #2048bb;
}

.bootstrap-select .dropdown-menu li a {
    color: #2048bb;
}

.bootstrap-select .dropdown-menu li a:hover {
    background: #2048bb;
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color: #2048bb;
}

.property-box .carousel-indicators .active {
    background-color: #2048bb;
}

blockquote {
    border-left: 5px dashed #2048bb;
}

.listing-badges .featured {
    background-color: #2048bb;
}

.recent-properties-box .detail header::after {
    background-color: #2048bb;
}

.service-info-5 i{
    color: #2048bb;
}

.property-box .facilities-list li i {
    color: #2048bb;
}

.slick-arrow-buton:hover {
    background: #0dcdbd;
}

.counter-box i {
    color: #2048bb;
}

.property-box .footer ul li a:hover {
    color: #2048bb;
}

.property-box .detail .title a {
    color: #2048bb;
}

.property-box-3 .detail .title a{
    color: #2048bb;
}

.blog-2 .photo .date-box {
    background: #2048bb;
}

.property-box .detail .location i {
    color: #2048bb;
}

.property-box-3 .facilities-list li i{
    color: #2048bb;
}

footer .footer-item .contact-info li label a:hover {
    color: #2048bb;
}

.btn-white{
    color: #2048bb;
}

.service-box .heading .number h5 {
    color: #2048bb;
}

.service-box .heading .title h4 a:hover {
    color: #2048bb;
}

.main-header .form-inline .submit {
    border: solid 1px #2048bb;
    color: #2048bb;
}

.main-header .form-inline .submit:hover {
    border: solid 1px #2048bb;
    background: #2048bb;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #2048bb;
}

.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color: #2048bb !important;
}

.main-header .navbar-expand-lg .user-account li a:hover {
    color: #2048bb;
}


.plan .price-header h1 {
    color: #2048bb;
}

.btn-outline {
    border: solid 1px #2048bb;
    color: #2048bb;
}

.btn-outline:hover {
    border: solid 1px #052582;
    background: #052582;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px #2048bb;
    color: #2048bb;
    font-weight: 600;
}

.team-5 p i{
    color: #2048bb;
}

.heading-properties h3 span {
    color: #2048bb;
}

.heading-properties-2 h3 span {
    color: #2048bb;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #2048bb;
}

.hp-3{
    background: #2048bb;
}

.btn-outline-2:hover {
    border: solid 2px #052582;
    background: #052582;
    color: #fff;
}

.map-properties .map-properties-fetures span i{
    color: #2048bb;
}

.property-box-4 .category-content ul li i{
    color: #2048bb;
}

.testimonial-2 .carousel-indicators .active {
    background: #2048bb;
}

.about-box .detail h3 {
    color: #2048bb;
}

li.active.btn.filtr-button.filtr {
    color: #fff;
    background: #2048bb;
}

.filteriz-navigation li:hover{
    color: #2048bb;
}

.change-view-btn {
    color: #2048bb;
    border: solid 1px #2048bb;
}

.change-view-btn:hover {
    border: solid 1px #2048bb;
    background: #2048bb;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color: #2048bb;
}

.active-view-btn {
    background: #2048bb;
    border: solid 1px #2048bb;
}

.active-view-btn:hover {
    border: solid 1px #2048bb;
    color: #2048bb;
}

.show-more-options, .show-more-options:hover {
    color: #2048bb !important;
}

.form-content-box .footer span a {
    color: #2048bb;
}

.blog-1 .post-meta ul li a:hover {
    color: #2048bb;
}

.pagination > li > a:hover {
    background: #2048bb !important;
    color: #fff;
}

.pagination > li > .active {
    background: #2048bb;
}

.read-more {
    color: #2048bb;
}

.partners .slick-arrow-buton:hover{
    color: #fff;
    background: #2048bb;
    opacity: 1;
}

.blog-1 .detail h3 a:hover {
    color: #2048bb;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #2048bb;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #2048bb;
}

.range-slider .ui-widget-header {
    background-color: #2048bb;
}

.posts-by-category ul li a:hover {
    color: #2048bb;
}

.tags-box ul li a:hover {
    border: 1px solid #2048bb;
    background: #2048bb;
}

.latest-reviews .media-heading a {
    color: #2048bb;
}

.latest-tweet a {
    color: #2048bb;
}

.comment-meta a {
    color: #2048bb;
}

.comment-meta a:hover {
    color: #052582;
}

.blog-tags a:hover {
    border: 1px solid #2048bb;
    background: #2048bb;
    color: #fff;
}

.about-text ul li i {
    color: #2048bb;
}

.breadcrumbs li a:hover {
    color: #2048bb;
}

.helping-center ul li i {
    color: #2048bb;
}

.my-account-box ul li a:hover {
    color: #2048bb;
}

.my-account-box ul li a.active {
    color: #2048bb;
}

.my-account-box .title::after {
    background-color: #2048bb;
}

.photoUpload {
    background: #2048bb;
}

.about-slider-box .Properties-info ul li i {
    color: #2048bb;
}

.typography-page mark.color {
    background-color: #2048bb;
}

.my-properties table tbody tr td a:hover {
    color: #2048bb;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #2048bb;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #2048bb;
    background-color: #2048bb;
}

.numbered.color ol > li::before {
    border: 1px solid #2048bb;
    color: #2048bb;
}

.widget-link:hover {
    color: #2048bb;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background: #2048bb;
}

.compare-properties h5 {
    color: #2048bb;
}

.property-box-2 .detail .title a {
    color: #2048bb;
}

.property-box-2 .facilities-list li i {
    color: #2048bb;
}

.property-box-2 .footer ul li a:hover {
    color: #2048bb;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #2048bb;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #2048bb;
}

.view-all ul li a:hover {
    background: #2048bb;
    border: solid 1px #2048bb;
    color: #fff;
}

.property-meta ul li i {
    color: #2048bb;
}

.map-marker:hover {
    background-color: #2048bb;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color: #2048bb transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #2048bb;
}

.map-marker.featured:hover:before {
    border-color: #2048bb transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #2048bb;
}

.marker-active .map-marker {
    background-color: #2048bb;
}

.marker-active .map-marker:before {
    border-color: #2048bb transparent transparent transparent;
}

.map-properties .address i {
    color: #2048bb;
}

.map-properties-btns .border-button-theme {
    color: #2048bb !important;
}

.map-properties .map-content h4 a {
    color: #2048bb;
}

.dropzone-design:hover {
    border: 2px dashed #2048bb;
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .active .nav-link {
        border-bottom: solid 1px #2048bb;
    }

    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        border-bottom: solid 1px #2048bb;
        color: #2048bb;
    }

    .main-header .navbar-expand-lg .navbar-nav .active .nav-link:hover {
        border-bottom: solid 1px #2048bb;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #2048bb;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color: #2048bb !important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background: #2048bb;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #2048bb !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    .header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff !important;
    }
}